<md2-datepicker placeholder="From Date"
                [(ngModel)]="fromDate"
                [disabled]="false"
                [openOnFocus]="true"
                [type]="'date'"
                [touchUi]="true"
                [max]="toDate"
                [startView]="'month'"
                [id]="'menu-date-from'"
                (change)="updateMenuDate()"
></md2-datepicker>
<md2-datepicker placeholder="To Date"
                [(ngModel)]="toDate"
                [disabled]="false"
                [openOnFocus]="true"
                [type]="'date'"
                [min]="fromDate"
                [touchUi]="true"
                [startView]="'month'"
                [id]="'menu-date-to'"
                (change)="updateMenuDate()"
></md2-datepicker>

<mat-slide-toggle *ngIf="!isMaster"
                  class="example-margin"
                  [checked]="sortByMaster"
                  (change)="changeSortingMode(sortByMaster)"
>
    Group by Master
</mat-slide-toggle>

<mat-slide-toggle *ngIf="isMaster"
                  class="example-margin"
                  [checked]="showStats"
                  (change)="showStats = !showStats"
>
    Show Stats
</mat-slide-toggle>

<ng-container *ngIf="isMaster && showStats">
    <ng-container *ngIf="orders | filterOrders:user.id:false:false:false:dishesSelectedIds as ordersForStats">
        <h3>Stats</h3>
        <p>Grams received - {{ordersForStats | ordersWeight}}</p>
        <p>Calories consumed - {{ordersForStats | ordersCalories}}</p>
        <p>Money spent - {{ordersForStats | ordersAmount | number:'1.2-2'}}</p>
    </ng-container>
</ng-container>

<mat-form-field *ngIf="mastersList.length && !isMaster">
    <mat-select placeholder="Masters" [formControl]="mastersControl" multiple [(ngModel)]="mastersSelectedIds">
        <mat-option *ngFor="let master of mastersList" [value]="master.id">
            {{ master.firstName + ' ' + master.lastName }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field *ngIf="dishesList.length">
    <mat-select placeholder="Dishes" [formControl]="dishesControl" multiple [(ngModel)]="dishesSelectedIds">
        <mat-option *ngFor="let dish of dishesList" [value]="dish.id">
            {{dish.name | translationFilter:user.lang}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-accordion multi="true" *ngIf="sortByMaster">
    <ng-container *ngFor="let master of mastersList">
        <ng-container
                *ngIf="orders | filterOrders:master.id:false:false:mastersSelectedIds:dishesSelectedIds as ordersByMasterId">
            <mat-expansion-panel *ngIf="ordersByMasterId.length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a (click)="masterDetailsDialog(master)">
                            <img [src]="(master.image | imageSize:'40x40')"/>
                        </a>
                        {{master.firstName + ' ' + master.lastName}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{master.office.title | translationFilter:user.lang}}
                    </mat-panel-description>
                    <div class="orders-count">Count:{{ordersByMasterId.length}};</div>
                    <div class="orders-amount">Amount:{{ordersByMasterId | ordersAmount | number:'1.2-2'}}</div>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let date of dates">
                    <ng-container
                            *ngIf="orders | filterOrders:master.id:false:date:mastersSelectedIds:dishesSelectedIds as ordersByMasterAndDate">
                        <ng-container *ngIf="ordersByMasterAndDate.length">

                            <b>{{date | formatDateString:"DD.MM.YYYY"}}</b>
                            <ng-container *ngFor="let dish of dishesList">
                                <ng-container
                                        *ngIf="orders | filterOrders:master.id:dish.id:date:mastersSelectedIds:dishesSelectedIds as ordersByFullSearch">
                                    <ng-container *ngIf="ordersByFullSearch.length">
                                        <ul>
                                            <li *ngFor="let order of (orders | filterOrders:master.id:dish.id:date:mastersSelectedIds:dishesSelectedIds)">
                                                <p>{{dish.name | translationFilter:user.lang}}</p>
                                                <p>{{dish | categoryName:categories | translationFilter:user.lang}}</p>
                                                <pre>{{order.orderedCount}}x{{order.price}}</pre>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>
</mat-accordion>

<mat-accordion multi="true" *ngIf="!sortByMaster">
    <ng-container *ngFor="let dish of dishesList">
        <ng-container
                *ngIf="orders | filterOrders:false:dish.id:false:mastersSelectedIds:dishesSelectedIds as ordersByDishId">
            <mat-expansion-panel *ngIf="ordersByDishId.length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a (click)="dishDetailsDialog(dish)">
                            <img [src]="(dish.images | firstDishImage:'40x40')"/>
                        </a>
                        {{dish.name | translationFilter:user.lang}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{dish | categoryName:categories | translationFilter:user.lang}}
                    </mat-panel-description>
                    <div class="orders-count">Count:{{ordersByDishId.length}};</div>
                    <div class="orders-amount">Amount:{{ordersByDishId | ordersAmount | number:'1.2-2'}}</div>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let date of dates">
                    <ng-container
                            *ngIf="(orders | filterOrders:false:dish.id:date:mastersSelectedIds:dishesSelectedIds).length">

                        <b>{{date | formatDateString:"DD.MM.YYYY"}}</b>
                        <ng-container *ngFor="let master of mastersList">
                            <ng-container
                                    *ngIf="orders | filterOrders:master.id:dish.id:date:mastersSelectedIds:dishesSelectedIds as ordersByFullSearch">
                                <ng-container *ngIf="ordersByFullSearch.length">
                                    <ul>
                                        <li *ngFor="let order of ordersByFullSearch">
                                            <p>{{master.firstName + ' ' + master.lastName}}</p>
                                            <p>{{master.office.title | translationFilter:user.lang}}</p>
                                            <pre>{{order.orderedCount}}x{{order.price}}</pre>
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>
</mat-accordion>