$main-font: 'Lato', sans-serif;

// Default colors
$green: #9eb94a;
$pink: #e94d70;
$orange: #f78e1e;
$red: #c90000;
$white: #ffffff;
$dark-grey: #6e828b;
$grey: #e7e7e7;
$light-grey: #b3b8bb;
$lightest-grey: #f0f0f0;
$blue: #4cb0ce;
$dark-blue: #1672b3; //#3c8ca4;
$grey-bg: #f0f0f0;
