<mat-toolbar color="primary" class="main-menu-bar">
    <mat-toolbar-row class="top-menu-bar">
        <span>Admin</span>
        <lunch-language-switcher></lunch-language-switcher>
        <a mat-button routerLink="/admin/" class="wide-screen">Orders</a>
        <a mat-button routerLink="/admin/providers" class="wide-screen">Providers</a>
        <span class="lunch-spacer"></span>
        <a mat-button routerLink="/admin/lookup" class="wide-screen">Lookup</a>
        <lunch-provider-switcher></lunch-provider-switcher>
        <mat-icon class="lunch-icon" (click)="logOut()">exit_to_app</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row  class="second-menu-bar">
        <a mat-button routerLink="/admin/">Orders</a>
        <a mat-button routerLink="/admin/providers">Providers</a>
        <a mat-button routerLink="/admin/lookup">Lookup</a>
    </mat-toolbar-row>
</mat-toolbar>