<mat-sidenav-container class="example-container" style="min-height: 600px">
    <mat-sidenav #sidenav [(opened)]="sidenavOpened" [mode]="'push'">
        <p>
            <button mat-button (click)="sidenavOpened = !sidenavOpened">Close</button>
        </p>
        <mat-list>
            <ng-container *ngFor="let category of categories">
                <ng-container *ngIf="(dishes | filterByField:'categoryId':category.id).length">
                    <h3 mat-subheader>{{category.title | translationFilter:user.lang}}</h3>
                    <mat-list-item *ngFor="let dish of dishes | filterByField:'categoryId':category.id">
                        <h4 mat-line>
                            <img [src]="dish.images | firstDishImage:'50x50'" (click)="dishDetailsDialog(dish)">
                            <mat-slide-toggle
                                    class="example-margin"
                                    [checked]="dishesInMenu[dish.id]"
                                    [disabled]="(isAfterDeadline && !user.isShop) || dish.isRemoved"
                                    [labelPosition]="'before'"
                                    (change)="toggleDishInMenu(dish.id)">
                                {{dish.name | translationFilter:user.lang}}
                            </mat-slide-toggle>
                        </h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </ng-container>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <lunch-provider-header></lunch-provider-header>

        <mat-progress-bar
                *ngIf="isDoingAnyAction()"
                class="example-margin"
                [color]="'primary'"
                [mode]="'indeterminate'">
        </mat-progress-bar>

        <p>
            <button mat-button (click)="sidenavOpened = !sidenavOpened">Dishes</button>
        </p>

        <div *ngIf="!user.isShop">
            <md2-datepicker name="menu-date"
                            placeholder="Menu Date"
                            [(ngModel)]="deliveryDate"
                            [disabled]="false"
                            [openOnFocus]="true"
                            [type]="'date'"
                            [touchUi]="true"
                            [startView]="'month'"
                            #dateControl="ngModel"
                            [id]="'menu-date'"
                            (change)="updateMenuDate()"
            ></md2-datepicker>

            <md2-datepicker name="menu-time"
                            placeholder="Delivery Time"
                            [(ngModel)]="deliveryDate"
                            [min]="nowDate"
                            [disabled]="isAfterDeadline"
                            [openOnFocus]="true"
                            [type]="'time'"
                            [touchUi]="true"
                            [startView]="'clock'"
                            #dateControl="ngModel"
                            [id]="'menu-time'"></md2-datepicker>

            <md2-datepicker name="menu-deadline"
                            placeholder="Menu Deadline"
                            [(ngModel)]="deadlineDate"
                            [min]="nowDate"
                            [disabled]="isAfterDeadline"
                            [openOnFocus]="true"
                            [type]="'datetime'"
                            [touchUi]="true"
                            [startView]="'month'"
                            #dateControl="ngModel"
                            [id]="'menu-deadline'"></md2-datepicker>
        </div>

        <mat-list>
            <ng-container *ngFor="let dishesMenuItem of dishesMenuStruct">
            <mat-list-item *ngFor="let dish of dishes | filterByField:'id':dishesMenuItem.id">
                <h4 mat-line>
                    <img [src]="dish.images | firstDishImage:'50x50'">
                    {{dish.name | translationFilter:user.lang}}
                    (Price: {{(dishPrices[dish.id] != undefined) ? dishPrices[dish.id] : dish.price}})
                    (Ordered: {{(dishSold[dish.id]) ? dishSold[dish.id] : 0}})
                    <mat-form-field>
                        <input
                                matInput
                                type="number"
                                [min]="(dishSold[dish.id]) ? dishSold[dish.id] : 0"
                                id="myNumber"
                                [(ngModel)]="dishesMenuItem.count"
                        />
                        <mat-hint align="end">{{ dishesMenuItem.count - (dishSold[dish.id] ? dishSold[dish.id] : 0)}} left</mat-hint>
                    </mat-form-field>
                </h4>
            </mat-list-item>
            </ng-container>
        </mat-list>

        <ng-container *ngIf="dishesMenuStruct.length == 0">
            <h2 *ngIf="user.isShop">No dishes in the shop yet</h2>
            <h2 *ngIf="!user.isShop">No menu for this date</h2>
        </ng-container>

        <div class="button-row">
            <button mat-raised-button color="primary"
                    [disabled]="isDoingAnyAction() || (isAfterDeadline && !user.isShop)"
                    (click)="onSaveMenu()"
            >Save Menu
            </button>
            <button mat-raised-button color="primary"
                    *ngIf="!user.isShop"
                    [disabled]="isDoingAnyAction() || isAfterDeadline"
                    (click)="onCopyMenu()"
            >Copy Menu
            </button>
            <button mat-raised-button color="primary"
                    *ngIf="dishesMenuStruct.length && !user.isShop"
                    [disabled]="isDoingAnyAction() || isAfterDeadline"
                    (click)="onRemoveMenu()"
            >Remove Menu
            </button>
        </div>

        <pre>{{deliveryDate | json}}</pre>
        <pre>{{dishesMenuStruct | json}}</pre>
        <pre>{{menu | json}}</pre>
    </mat-sidenav-content>
</mat-sidenav-container>
