<mat-toolbar color="primary" class="main-menu-bar">
    <mat-toolbar-row class="top-menu-bar">
        <span>Provider</span>
        <lunch-language-switcher></lunch-language-switcher>
        <a mat-button routerLink="/provider/" class="wide-screen">Orders</a>
        <a mat-button routerLink="/provider/menu" class="wide-screen">Menu</a>
        <span class="lunch-spacer"></span>
        <a mat-button routerLink="/provider/dishes" class="wide-screen">Dishes</a>
        <a mat-button routerLink="/provider/lookup" class="wide-screen">Lookup</a>
        <mat-icon class="lunch-icon" (click)="logOut()">exit_to_app</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row  class="second-menu-bar">
        <a mat-button routerLink="/provider/">Orders</a>
        <a mat-button routerLink="/provider/menu">Menu</a>
        <a mat-button routerLink="/provider/dishes">Dishes</a>
        <a mat-button routerLink="/provider/lookup">Lookup</a>
    </mat-toolbar-row>
</mat-toolbar>